.card-list .card-link .badge.leadership-position{
    color: #b22485;
    background: #f7dff5;
}

.card-list .card-link .badge.locations{
    color: #5372f0;
    background: #dde4ff;
}

.card-list .card-link .badge.focus-areas{
    color: #4caf50; /* Green color for text */
    background: #e8f5e9; /* Light green background */
}

.card-list .card-link .badge.types{
    color: #d32f2f; /* Red color for text */
    background: #ffebee; /* Light red (pinkish) background */
}

.card-list .card-link .badge.majors {
    color: #b38600;        /* rich golden-yellow text */
    background: #fff7cc;   /* soft pale yellow background */
}

.card-list .card-link .badge.marketer{
    color: #b25a2b;
    background: #ffe3d2;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
  }
  
  .filter-btn {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .filter-btn.active, .filter-btn:hover {
    background-color: #4f99d8;
    color: white;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .volunteer-card {
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 300px;
  }

